<div class="row row-0-padding">
    <div class="col-md-4" *ngFor="let post of postArray">
        <mat-card class="margin-top">
            <mat-card-header>
              <mat-card-title>{{ post.Title }}</mat-card-title>
              <mat-card-subtitle>{{ post.date }} </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{ post.postImg }}" alt="" class="card-img-top">
            <mat-card-content>
              <p *ngFor="let body of post.postbody">
                {{ body.text | slice:0:150 }}
              </p>
              <a class="post-read-more" [routerLink]="['/post', post.id]">Read more ...</a> 
            </mat-card-content>
            <mat-card-actions>
              <div class="author-profile">
                  <div class="author-profile-img">
                      <img [src]="post.author.Avatar" [title]="post.author.FirstName"/>
                  </div>
                  <div class="author-profile-info">
                      <p class="author-profile-info-name">{{ post.author.FirstName }} {{ post.author.LastName }}</p>
                      <p class="author-profile-info-email">{{ post.author.Email }}</p>
                      <p>
                        <a [routerLink]="['/post', post.author.id]" class="author-profile-info-link">View all post</a>
                      </p>
                  </div>
              </div>
              <mat-chip-list>
                <mat-chip color="primary" class="pull-right">
                  <a [routerLink]="['/category', post.category.id]">{{ post.category.Name  }}</a>
                </mat-chip>
              </mat-chip-list>
            </mat-card-actions>
          </mat-card>
    </div>
</div>

